/* ------------------------------------------ FONT ------------------------------------------ */
.dm-sans-default {
  font-family: "DM-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.plus-jakarta-sans-default {
  font-family: "Plus-Jakarta-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.geist-default {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.unbounded-default {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    font-family: 'DM-Sans', 'Plus-Jakarta-Sans', 'Geist';
}

h1 {
    font-size: 64px;
    font-family: 'Unbounded';
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

a {
    font-size: 12px;
}


/* ------------------------------------------ HTML, BODY ------------------------------------------ */

body {
    color: black;
    background-color: rgb(181, 223, 108);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box; 

/*------------------------------------------ NAV ------------------------------------------*/
nav {
    background-color: rgb(156, 175, 50);
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: 0px;

    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav img {
    position: absolute;
    left: 1px;
    width: 50px;
    height: 50px;
}

nav a {
    padding: 10px;

    color: black; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav a:hover {
    background-color: rgb(134, 150, 43);
}

/* ------------------------------------------FOOTER------------------------------------------ */
footer {
    height: 300px;
    background-color: rgb(156, 175, 50);
    display: flex;
    justify-content: space-evenly;

    color: white;
}

.box {
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;

}

.flexcolumn {
    flex-direction: column;
    gap: 5px;
}

.logoend {
    width: 150px;
    height: 150px;
}

.icon {
    width: 70px;
    height: auto;
}

footer .box iframe {
    justify-content: center;
    align-self: center;
    width: 400px;
    height: 200px;
    border: 10px solid rgb(181, 223, 108);
}
.phone {
    justify-content: center;
    gap: 0;
}

.phone h3 {
    margin: 10px;
}

/* ------------------------------------------MAIN------------------------------------------ */
main {
    min-height: 800px;
    padding-top: 70px;

    overflow-anchor: none;
}