body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 2px solid black;
    width: 800px;
    padding: 50px;
}

h1 {
    border-top: 3px solid black;
    padding-top: 10px;
}

h2 {
    color: green;
}

h3 {
    color: blueviolet
}