.dm-sans-default {
  font-family: "DM-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.plus-jakarta-sans-default {
  font-family: "Plus-Jakarta-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.geist-default {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.unbounded-default {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    font-family: 'DM-Sans', 'Plus-Jakarta-Sans', 'Geist';
}

h1 {
    font-size: 64px;
    font-family: 'Unbounded';
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

