<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>

<body class="login">
    <div th:replace="~{fragments/nav :: nav}"></div>

    <main class="auth-main">
        <div class="auth-box">
            <h2>Login</h2>

            <div th:if="${error}" class="auth-alert auth-alert-error">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${success}" class="auth-alert auth-alert-success">
                <p th:text="${success}"></p>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="auth-field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Tên đăng nhập" required>
                </div>
                <br>
                
                <div class="auth-field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Mật khẩu" required>
                </div>
                <button type="submit" class="auth-btn">Login</button>
            </form>

            <p class="auth-link">Don't have an account? <a th:href="@{/register}">Register now!</a></p>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>