<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>

<script>
    function submitToCart() {
        const form = document.getElementById('fruitForm');
        form.action = '/cart/add';
        form.submit();
    }

    function submitToCartAndGo() {
        const form = document.getElementById('fruitForm');
        form.action = '/cart/add-and-go';
        form.submit();
    }
</script>

<body th:class="${page}">
    <div th:replace="~{fragments/nav :: nav}"></div>
    
    <main class="order">
        <h1>Menu</h1>
        
        <form th:action="@{/order}" method="post" id="fruitForm">
            
            <h3>Fresh fruit box</h3>
            <div class="fruit-grid">
                <label th:each="p : ${fruits}" th:for="${p.id}" class="fruit">
                    <input type="checkbox" name="fruitIds" th:value="${p.id}" th:id="${p.id}">
                    <img th:src="${p.imageUrl}" th:alt="${p.name}">
                    <strong th:text="${p.name}"></strong>
                    <span th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' đ/350g'"></span>
                </label>
            </div>
            
            <h3>Juice</h3>
            <div class="fruit-grid">
                <label th:each="p : ${juices}" th:for="${p.id}" class="fruit">
                    <input type="checkbox" name="fruitIds" th:value="${p.id}" th:id="${p.id}">
                    <img th:src="${p.imageUrl}" th:alt="${p.name}">
                    <strong th:text="${p.name}"></strong>
                    <span th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' đ/cup'"></span>
                </label>
            </div>

            <h3>Combo Random Fruit Mix</h3>
            <div class="fruit-grid">
                <label th:each="p : ${mixes}" th:for="${p.id}" class="fruit">
                    <input type="checkbox" name="fruitIds" th:value="${p.id}" th:id="${p.id}">
                    <img th:src="${p.imageUrl}" th:alt="${p.name}">
                    <strong th:text="${p.name}"></strong>
                    <span th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' đ'"></span>
                </label>
            </div>

            <div class="cart">
                <!-- ddd to cart POST /cart/add -->
                <button type="button" id="addCartBtn"
                        class="addCartBtn" disabled
                        onclick="submitToCart()">Add to Cart</button>
                
                <!-- purchase POST /order -->
                <button type="button" id="purchaseBtn"
                        class="addCartBtn" disabled
                        onclick="submitToCartAndGo()">Purchase</button>
            </div>

        </form>
    </main>
    


    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/order.js}"></script>
</body>
</html>